body{
  display: grid;
  grid-template-columns: auto auto;
}

.nav-bar{
  background-image: src('multistep\src\assests\NavBackground.svg');
}

.card-div{
  color: blue;
  grid-template-columns: 2;
}



