body{
  font-family: 'Ubuntu';
}

.app-container{
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.nav-bar{
  background-image: url('./assests/NavBackground.svg');
  height: 568px;
  width: 274px;
}

.card-div{
  color: #022959;
  margin-left: 10%;
}



